*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgba(189, 113, 189, 0.781);    
}

.container{
    max-width: 650px;
    padding: 28px;
    margin: 0 28px;
    box-shadow: 0 15px 20px #550251;
}

h2{
  font-size: 26px;
  font-weight: 600;
  text-align: left;
  color: #2f4f4f;
  padding-bottom: 8px;
  border-bottom: 1px solid rgb(77, 4, 77);  
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.input-box:nth-child(2n){
    justify-content: end;
}

.input-box label, .gender-title{
    width: 95%;
    color: #2f4f4f;
    font-weight: bold;
    margin: 5px 0;
}

.category-title{
    width: 95%;
    color: #2f4f4f;
    font-weight: bold;
    margin: 5px 0;
    margin-top: 20px;  
}


.gender-title{
    font-size: 16px;
}

.input-box input{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.gender-category{
    color: rgb(66, 5, 63);
}

.gender-category label{
    padding: 0 20px 0 5px;
    font-size: 14px;
}

.gender-category label, .gender-category input{
    cursor: pointer;
}

.category{
    color: rgb(66, 5, 63);
    font-size: 14px; 
}
.category input{
    padding: 0 20px 0 5px;
    cursor: pointer;
    margin: 3px 10px ;
}

.button-container{
    margin: 20px 0;
}

.button-container button{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    display: block;
    font-size: 20px;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #aa076b,#61045f);
}

.button-container button:hover{
    background-image: linear-gradient(to right,#61045f, #aa076b);
}